<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Sign In for GayCities</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>gcUserIDKey</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>ReturnKeyType</key>
			<string>UIReturnKeyNext</string>
		</dict>
		<dict>
			<key>ReturnKeyType</key>
			<string>UIReturnKeyDone</string>
			<key>Title</key>
			<string>Password</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>gcPasswordKey</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<true/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Startup Options</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Open With</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>gcStartupKey</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Current Location</string>
				<string>Last Known Location</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>GayCities iPhone Application and Data © GayCities, Inc.  GayCities iPhone application makes use of the Route-me library and CloudMade maps.   For more information and full documentation see http://www.gaycities.com/iphone/
The Route-me library is copyright © 2008-2009, Route-Me Contributors All rights reserved.
CloudMade map tiles are copyright © 2009 CloudMade - Map data CCBYSA 2009 OpenStreetMap.org contributors.</string>
		</dict>
	</array>
</dict>
</plist>
